@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section tab 
{
   <ul class="menu">
                         <li><a href="/Admin/AdminHome" class="nav1 style4">  Home </a></li>
                         <li class="divider"></li>
                         <li><a href="/Admin/AddProduct" class="nav2 style4">Add Products</a></li>
                         <li class="divider"></li>
                         <li><a href="/Admin/Gallery" class="nav2 style4">Gallery</a></li>                        
                         <li class="divider"></li>        
                         <li><a href="/Admin/ShowReviews" class="nav6 style4">View Comments</a></li>                        
                         <li class="divider"></li>                         
                         <li><a href="/Account/Logout" class="nav4 style4">Logout</a></li>
                         <li class="divider"></li>
                    </ul>

             <div class="right_menu_corner"></div>
}
@section left
{
    <div class="left_content">
    <div class="title_box">Selling Reports</div>
    
        <ul class="left_menu">
        <li class="even"><a href="#">Today Report</a></li>
         <li class="odd"><a href="#">Weekly Reports</a></li>
        </ul> 
}
@model NewViews.Models.Product
   <div>
       <h2>Delete Product</h2>
      
      <table width="500" border="0">
     <tr>
      <div class="product_img"><img src="~/images/@ViewBag.prod.Product_Image" alt="" title="" border="0" /></div>
   </tr>
           <tr>
      <div class="product_img">@Html.HiddenFor(m=>m.Product_Image)</div>
   </tr>
          <tr>              
    <th width="153" height="50" scope="row">
      <h3>@Html.HiddenFor(m=>m.Product_Id)</h3>
</th>
    <td  width="252" height="50" >@Html.HiddenFor(m=>m.Product_Id)</td>
    <td  width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Name)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Name)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Company)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Company)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Price)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Price)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Quantity)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Quantity)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Color)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Color)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
</table>
  @using (Html.BeginForm()) 
  {
    
        <input type="submit" value="Delete" /> 
        <div>
    @Html.ActionLink("Back to Home", "AdminHome")
</div>
 
}
      
  
    </div> <!-- end of templatmeo_content -->


   
 