@{
        ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}
@model NewViews.Models.Product

   <div>
       <h2>Product Details</h2>
    <form action="/User/CheckOut" method="post" >  
      <table width="500" border="0">
     <tr>
      <div class="product_img"><img src="~/images/@ViewBag.prod.Product_Image" alt="" title="" border="0" /></div>
   </tr>
           <tr>
      <div class="product_img">@Html.HiddenFor(m=>m.Product_Image)</div>
   </tr>
          <tr>              
    <th width="153" height="50" scope="row">
      <h3>@Html.HiddenFor(m=>m.Product_Id)</h3>
</th>
    <td  width="252" height="50" >@Html.HiddenFor(m=>m.Product_Id)</td>
    <td  width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Name)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Name)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Company)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Company)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Price)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Price)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Quantity)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Quantity)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
  <tr>
    <th width="153" height="50" scope="row">      <h3>@Html.LabelFor(m=>m.Product_Color)</h3></th>
    <td width="252" height="50" >@Html.DisplayFor(m=>m.Product_Color)</td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
          <tr>
    <th width="153" height="50" scope="row">      <h3>Quantity</h3></th>
    <td width="252" height="50" ><input type="text" name="p_quantity" id="p_quantity" /></td>
    <td width="81" height="50" >&nbsp;</td>
  </tr>
 
  
 <td><input type="submit" name="cartItem" value="Place Order" /></td>
</table>
</form>
    </div> <!-- end of templatmeo_content -->