@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
 @section tab{
<div id="menu_tab">
            <div class="left_menu_corner"></div>
                    <ul class="menu">
                         <li><a href="/Home/index" class="nav1 style4">  Home </a></li>
                         <li class="divider"></li>
                         <li><a href="/Home/index" class="nav2 style4">Products</a></li>
                         <li class="divider"></li>
                         <li><a href="/Account/SignUp" class="nav4 style4">Sign Up</a></li>
                         <li class="divider"></li>                         
                         <li><a href="/Home/About" class="nav5 style4">About </a></li>
                         <li class="divider"></li>
                         <li><a href="/Home/contact" class="nav6 style4">Contact Us</a></li>
                         <li class="divider"></li>
                         <li><a href="/Account/Login" class="nav4 style4">Login</a></li>
                         <li class="divider"></li>
                    </ul>


            </div><!-- end of menu tab -->
    }
              
 @section left{
   <div class="left_content">
    <div class="title_box">Categories</div>
    
       <ul class="left_menu">
        <li class="even"><a href="/Home/Laptops">Laptop</a></li>
         <li class="odd"><a href="/Home/WebCam">Webcam</a></li>
         
         <li class="even"><a href="/Home/Mobile">Mobile Phones</a></li>
        </ul> 
        
        

}
@model NewViews.Models.ReView
       @using(Html.BeginForm("AddReview","Home",FormMethod.Post))
       {
                       <div class="center_content">
                           @Html.ValidationSummary(true)
   	<div class="center_title_bar">Contact Us</div>
    
    	<div class="prod_box_big">
        	<div class="top_prod_box_big"></div>
            <div class="center_prod_box_big">            
                 
              	<div class="contact_form">
                           
                    <div class="form_row">
                    <label class="contact"><strong>Name:</strong></label>
                        
                    
                        @Html.TextBoxFor(m=>m.Name)
                        @Html.ValidationMessageFor(m=>m.Name)
                    </div>  

                    <div class="form_row">
                    <label class="contact"><strong>Email:</strong></label>
                   
                        @Html.TextBoxFor(m=>m.Email)
                        @Html.ValidationMessageFor(m=>m.Email)
                    </div>


                    <div class="form_row">
                    <label class="contact"><strong>Phone:</strong></label>
                        @Html.TextBoxFor(m=>m.Phone)
                        @Html.ValidationMessageFor(m=>m.Phone)
                   
                    </div>
                    
                    <div class="form_row">
                    <label class="contact"><strong>Company:</strong></label>
                    
                        @Html.TextBoxFor(m=>m.Company)
                        @Html.ValidationMessageFor(m=>m.Company)
                   
                    </div>


                    <div class="form_row">
                    <label class="contact"><strong>Message:</strong></label>
                   
                        @Html.TextAreaFor(m=>m.Message)
                        @Html.ValidationMessageFor(m=>m.Message)
                   
                    </div>

                    
                    <div class="form_row">
                    <input name="submit" type="submit"  value="Send"/>
                    </div>      
                    
                </div> 
               
                                     
            </div>
            <div class="bottom_prod_box_big"></div>                                
        </div>
        
     
   
   </div><!-- end of center content -->
       }
       @section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }
@section cartTab{
        <div class="right_content">
   		<div class="shopping_cart">
        	<div class="cart_title style5">Shopping cart</div>
            
            <div class="cart_details">
            <h2>View Cart</h2>
                 <br />
          
           </div>
            
            <div class="cart_icon"><a href="/Account/Login" title="header=[Checkout] body=[&nbsp;] fade=[on]"><img src="~/images/shoppingcart.png" alt="" title="" width="48" height="48" border="0" /></a></div>
        
        </div>
}   
  
       